@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// custom colors
@import "bulma/colors";
@import "bulma/image";

@import "~bulma/sass/utilities/derived-variables";
@import '~bulma/bulma';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


#header {
  .navbar {
    #appName {
      color: $white;

    }

    a.navbar-item {
      color: $white;
      &:hover, &:hover #appName{
        background-color: transparent;
        color: findDarkColor($light-blue);
      }
    }
  }
}
